.conteiner-menu 
{
    margin-bottom: 50px;
    @include flexCenter(flex,center,null);
    gap: 8px;
}

.portfolio-btn 
{

    padding-left: 22px;
    padding-right: 22px;
    min-width: 73px;
    height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--color-black);
    transition: background 250ms 
    cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus
    {
        background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: var(--color-white);
    }
}

.conteiner-portfolio
{
    @include flexCenter(flex,center,null);
    flex-wrap: wrap;
    gap: 30px;
}
.conteiner-portfolio-li
{
    flex-basis: calc((100% - 60px) / 3);
}

.item-portfolio
{
    text-decoration: none;
    transition: box-shadow 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    display 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus
    {
        display: block;
        box-shadow: 0px 1px 1px
        rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.img-block
{
    position: relative;
    overflow: hidden;
}
.portfolio-top-text
{
    transition: transform 
    250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: #ffff;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    height: 100%;
    transform: translateY(100%);
    overflow: auto;
    .item-portfolio:hover &,
    .item-portfolio:focus &
    {
        transform: translateY(0);
    }
}

.border-portfolio
{   
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    
    border: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.portfolio-title 
{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--color-black)
}
.portfolio-subtitle
{
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--color-gray)
}