.features-list
{
    @include flexCenter(flex,null,null);
    flex-wrap: wrap;
    gap: 30px;
}
.item__features
{
    width: 100%;
    @media screen and (min-width: 768px) 
    {
        flex-basis: calc((100% - 30px) / 2);    
    }
    @media screen and (min-width: 1200px) 
    {
        flex-basis: calc((100% - 90px) / 4);    
    }
}
.features__icon
{
    height: 120px;
    @include flexCenter();
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
}
.feature__title 
{
    text-align: center;
    margin-bottom: 10px;
    @extend %header;
    text-transform: uppercase;
    color: var(--color-black);
    @media screen and (min-width: 768px) 
    {
        text-align: left;    
    }      
}
.feature__subtitle 
{
    @extend %policy;
    color: var(--color-gray)
}

