.hero 
{    
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/Imghero1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}


.block-title
{
    padding-left: 200px 452px;
    min-width: 692px;
}
.hero__title 
{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
      
    margin-bottom: 30px;
    width: 696px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;    
}
.hero__btn 
{
    padding: 10px 32px;
    margin: 0 auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    @include flexCenter();
    letter-spacing: 0.06em;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    background: var(--color-blue);
    transition: background 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);  
    &:hover,
    &:focus
    {
        cursor: pointer;
        background:var(--color-c6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}