.team
{
    background-color: #F5F4FA;
}

.team-list-group
{
    flex-basis: calc((100% - 90px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.names-team
{
    padding-top: 30px;
}

.team-second-title 
{
    margin-bottom: 10px;
    @extend %team;
    color: var(--color-black)
}
.team-subtitel 
{
    @extend %team;
    margin-bottom: 16px;
    color: var(--color-gray)  
}
.team-list
{
    @include flexCenter(flex,null,null);
    gap: 30px;
}
.team-soc-list
{
    @include flexCenter(flex,center,null);
    gap: 10px;
    margin-bottom: 30px;
}
.team-soc-item 
{
    width: 44px;
    height: 44px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link 
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include flexCenter();
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus
    {
        background-color: #2196F3;
    }
}

.team-soc-icons
{
    fill: #AFB1B8;
    transition: fill 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    .team-soc-link:hover &, 
    .team-soc-link:focus &
    {
        fill: #ffff;
    }
}